body {
    /* background-color: #f9f9f9; */
    background-color: white;
    font-family: Arial;
}

.header {
    background-color: #4CAF50;
    padding: 10px;
    color: white;
    text-align: center;
    font-family: cursive;
    min-width: 500px;
}

.header .name {
    font-size: 24px;
    color: white;
    margin-top: 10px;
}

main {
    margin: 20px 0;
    padding: 20px 0;
    background-color: white;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    min-width: 100px;
}

.form-container {
    max-width: 800px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #9fd9a2;
    cursor: default;
}

.table-container {
    margin: 50px auto;
    width: 80%;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

#img {
    width: 300px;
    display: block;
    margin: 0 auto;
}